{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {% if app.request.locale == 'fr' %}
        À propos
    {% else %}
        About me
    {% endif %}
{% endblock %}


{% block body %}
    <div id="id-apropos"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('apropos', { dependency: 'react' }) }}
{% endblock %}
