{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {% if app.request.locale == 'fr' %}
        Mentions légales
    {% else %}
        Legal Notice
    {% endif %}
{% endblock %}

{% block body %}
    <div id="id-mentionslegales"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('mentionslegales', { dependency: 'react' }) }}
{% endblock %}
