{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block title %}
    {% if app.request.locale == 'fr' %}
        Mes Services
    {% else %}
        My Services
    {% endif %}
{% endblock %}

{% block body %}
	<div id="id-messervices"></div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ vite_entry_script_tags('messervices',{dependency:'react'}) }}
{% endblock %}
