{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {% if app.request.locale == 'fr' %}
        Mon CV
    {% else %}
        My CV
    {% endif %}
{% endblock %}

{% block body %}
    <div id="id-moncv"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('moncv', { dependency: 'react' }) }}
{% endblock %}
