<IfModule mod_rewrite.c>
    RewriteEngine On

    # Interdire le listing des dossiers
    Options -Indexes

    # Forcer HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Supprimer www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

    # NE PAS réécrire les fichiers existants (JS, CSS, images dans /build)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Tout le reste va vers Symfony
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
