html {
  scroll-behavior: smooth;
}

.portfolio {
  width: 100%;
  box-sizing: border-box;
  padding: calc(5vh + 80px) 5vw 5vh;
}

.freelance {
  background-color: rgb(31, 32, 57);
  padding: 5vh 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-top: 170px;

  .freelance-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap; // permet de basculer en colonne sur mobile
  }

  .freelance-text {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column; // organise en colonne
    align-items: center;
    h2 {
      font-size: 2.5rem;
      color: rgb(165, 180, 252);
      margin-bottom: 2.5rem;
      text-align: center;
    }

    .intro-quote {
      font-style: italic;
      font-size: 1.6rem;
      color: rgb(200, 200, 255);
      text-align: center;
      margin-bottom: 2rem;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      display: inline;
    }

    p {
      max-width: 800px;
      margin: 0 auto 3rem;
      font-size: 1.2rem;
      color: white;
      line-height: 1.6;
      text-align: justify;
    }

    .cta {
      color: black;
      background: linear-gradient(#8e86b5, #acaeed);
      border-radius: 50px;
      padding: 20px 30px;
      display: inline-block;
      margin: 2rem;
      text-decoration: none;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 8px 24px rgba(165, 180, 252, 0.3);
      }
    }
  }

  .freelance-photo {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      height: 50vh;
      border-radius: 0.5rem;
      object-fit: cover;

      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 8px 24px rgba(165, 180, 252, 0.3);
      }
    }
  }
}

.message-lien {
  background-color: rgb(31, 32, 57);
  width: 100%;
  margin: 0 auto;
  padding: calc(5vh + 80px) 5vw 5vh;
  color: #a5b4fc;
  font-size: 1.7rem;
  line-height: 1.6;
  text-align: center;

  p.intro-quote {
    margin-bottom: 0 0 1.5rem 0;
    font-style: italic;
    font-weight: 500;
  }
}
