.portfolio {
  display: flex;
  height: 100vh;
  padding-top: 170px;
}
.freelance {
  background-color: rgb(31, 32, 57);
  h2 {
    color: rgb(165, 180, 252);
  }
}

.projets {
  background-color: white;
  padding-top: 70px;
}
